{% extends 'layout.html' %}
{% block titulo %}
<title>Index</title>
{% endblock %}

{% block conteudo %}
<center>
    <h1>Olá{% if usr %}, {{ usr }}{% endif %}.</h1>
    <h2>Bem-vindo à nossa loja!</h2>
    <img src="/static/images/loja.png">
</center>
<br>
<br>
<br>
<center>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6140.205017766883!2d-8.551841237361593!3d39.69239908485844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd227f3fab9a8661%3A0xff88f27fefe966e4!2sPet+City!5e0!3m2!1spt-PT!2spt!4v1557311332948!5m2!1spt-PT!2spt" width="500" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</center>
<br>
<br>
<br>
{% endblock %}
