<!DOCTYPE html>
<html lang="pt-PT">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/style.css">
{% block titulo %}
{% endblock %}

<script type="text/javascript" src="/static/scroll.js"></script>
<body>

{% set livro = loja.livro %}
{% set menu = loja.produtos %}
{% set usr = loja.usr.id %}
{% set carrinho = loja.carrinho %}
{% set unidades = loja.unidades %}
{% set total = loja.total() %}

{% set icons = ['fas fa-question', 'fas fa-archive', 'fas fa-microchip', 'fas fa-bone'] %}
<header>
    <div class="navbar">
        <a class="" href="/"><img src="/static/logo.png" alt="Clean It Up"/>
        <a class="nav1" href="/registo">Registo</a>
        <a class="nav1" href="/login">Iniciar Sessão</a>
        <a class="nav1" href="/carrinho_ini">Carrinho</a>
        {% if usr %}
        <a class="nav1" href="/logout">Logout</a>
        {% endif %}
    </div>
        {% block conteudo %}
        {% endblock %}
</header>



<footer class="footer">
    <div class="container">
    <a class="footerlogo" href="#">
        <img src="/static/logo2.png"/>
    </a>
    <div class="social">
                <a href="http://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="http://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="info1">
        <a class="removerunderline" href="/sobrenos">Sobre nós</a>
        <a class="removerunderline" href="#">Contacto</a>
    </div>
    <div class="info2">
        <a class="removerunderline" href="#">Garantia de qualidade</a>
        <a class="removerunderline" href="#">Suporte</a>
    </div>
    <div class="copyright">
    <p class="copyright">© 2020 Clean It Up. Todos os direitos reservados.</p>
    </div>
    </div>
</footer>
</body>
</html>

