<!DOCTYPE html>
<html lang="pt-PT">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/style.css">
{% block titulo %}
{% endblock %}

<script type="text/javascript" src="/static/scroll.js"></script>
<body>

{% set livro = loja.livro %}
{% set menu = loja.produtos %}
{% set usr = loja.usr.id %}
{% set carrinho = loja.carrinho %}
{% set unidades = loja.unidades %}
{% set total = loja.total() %}

{% set icons = ['fas fa-question', 'fas fa-archive', 'fas fa-microchip', 'fas fa-bone'] %}
<div class="navbar">
  <a class="active" href="/"></i>  Clean It Up </a>
  <a class="nav1" href="/registo">Registo</a>
  <a class="nav1" href="/login">Login</a>
  <a class="nav1" href="/carrinho_ini">Carrinho</a>
  {% if usr %}
  <a class="nav1" href="/logout">Logout</a>
  {% endif %}
</div>
{% block conteudo %}
{% endblock %}


<div class="footer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
  <p>© 2020 Clean It Up. Todos os direitos reservados.</p>
  <p></p>
</div>
</body>
</html>
